body {
  background-image: linear-gradient(50deg, #075F91 30%, #941662 120%);
  font-family: "AvenirNext-Medium";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'AvenirNext-DemiBold';
}
.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #61dafb;
}

.App-body .table {
  background-color: rgba(255,255,255,0.7);
}


.searchBox .input {
  width: -webkit-fill-available;
}

.tokenName img {
  height: inherit;
}

.tableList, .ui.search .prompt, .dropdownMenu {
  border-radius: 8px !important;
}
.theadL {
  border-radius: 8px 0px 0px 0px !important;
}
.theadR {
  border-radius: 0px 8px 0px 0px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
